<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Title</title>
    <style></style>
</head>
<body>
<ol>
    <li>不得将本人社保卡转借、转让、转送、抵押、出租给他人使用，或者将本人的基本医疗保险基金待遇转让给他人；</li>
    <li>参保人就医、购药、结算医疗费用时，应当配合定点医疗机构对其身份的确认，不得倒卖、转让、交换由基本医保基金支付的药品、诊疗项目、器械、医用耗材；</li>
    <li>
        妥善保管社会保障卡及交易密码，丢失社会保障卡应及时挂失，拨打登录社保卡信息网、微信公众平台及时挂失，挂失后参保人应尽快携带有效身份证件到医保经办机构办理挂失、更换手续。自柜台受理挂失、更换之日起工作日期间发生的医疗费用予以报销，不按规定办理挂失手续、社保卡被冒用，由参保人本人承担经济损失。
    </li>
    <li>在定点机构发生的医疗费用即时刷卡结算；</li>
    <li>在定点医疗机构凭社保卡进行住院登记，因病情危急等原因无法及时提供的，应在内提供；</li>
    <li>配合定点机构在其出院的当日办理出院登记并即时刷卡结算，特殊情况可以适当延长结算刷卡时间，但最长不得超过，拒不按医保规定结算的医疗费用，基本医疗保险基金不予支付；</li>
    <li>定点医疗机构提供的检查、治疗及购药服务需要签字确认的，参保人应予以配合；</li>
    <li>按规定办理转外就医、异地居住、异地工作备案后，无法即时刷卡结算以现金垫付的医疗费用，应在规定期限内报销；</li>
    <li>确因行动不便等原因，本人无法到定点医疗机构就医、购药，须由他人代理的，应向定点医疗机构提供本人和受委托代理人的身份证办理登记备案手续，未办理委托代理人登记备案手续发生的医疗费用，基本医疗保险基金不予支付。</li>
</ol>

<script>

</script>
</body>
</html>
